ul {
  list-style: none;
}
a {
  text-decoration: none;
}
* {
  padding: 0;
  margin: 0;
}
*,
::after,
::before {
  box-sizing: border-box;
}
body {
  font-family: Roboto;
  line-height: normal;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0px;
}
.header-logo {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  letter-spacing: 0.78px;
}
.studio {
  color: #000;
}
.header-nav {
}

.nav-list {
  display: flex;
  gap: 50px;
  margin-left: -180px;
}

.nav-item {
}
.nav-link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.nav-link:hover {
  color: #2196f3;
}
.contact-list {
  display: flex;
  gap: 50px;
}
.contact-item {
}
.contact-link {
  color: #757575;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.contact-link:hover {
  color: #2196f3;
}
.line {
  background: #ececec;
  height: 1px;
}
.main {
}
.main-hero {
  margin-top: 94px;
  text-align: center;
}
.btn-list {
  justify-content: center;
  display: flex;
  gap: 8px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  background-color: #2f303a;
  height: 600px;
}
.hero-title {
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  width: 696px;
  height: 120px;
  margin-bottom: 30px;
}
.hero-button {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700px;
  line-height: 30px;
  /* 187.5% */
  letter-spacing: 0.96px;
  width: 216px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.work-img {
}
.work-list {
  display: flex;
  gap: 30px;
}

.main-work {
  background-color: #ffffff;
  margin-top: 94px;
}
.main-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 25px;
  margin-bottom: 94px;
}
.main-item {
  border: 1px solid #eee;
  background: #fff;
}
.work-item {
  border: 1px solid #eee;
}
.main-work-title {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px; /* 200% */
  letter-spacing: 1.08px;
}
.work-text {
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.48px;
  margin-bottom: 20px;
}
.button {
  border-radius: 4px;
  background: #f5f4fa;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.48px;
  padding: 6px 25px;
}
.button:hover {
  background-color: #2196f3;
}
.feature {
}
.feature-list {
  display: flex;
  gap: 30px;
  margin-top: 90px;
}
.feature-item {
}
.feature-item-title {
  margin-bottom: 10px;
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
.feature-item-text {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
.work {
  width: 1200px;
  margin-top: 118px;
}
.work-title {
  margin-bottom: 50px;
  color: #212121;
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1.08px;
}
.work-img {
}
.team {
  padding-bottom: 94px;
  margin-top: 94px;
  padding-top: 94px;
  background-color: #f5f4fa;
}
.team-heading {
  margin-bottom: 50px;
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}
.team-title {
  color: #212121;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
}
.team-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.team-item {
  text-align: center;
  background-color: #fff;
  padding-bottom: 30px;
}
.team-img {
  margin-bottom: 30px;
}

.team-text {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
}

.footer {
  height: 252px;
  background: #2f303a;
  margin: auto;
  padding-top: 60px;
  justify-content: space-between;
}
.wrap-footer {
}
.footer-logo {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.footer-logo-span {
  color: #fff;
}
.footer-list {
}
.footer-item {
}
.footer-item-link {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
  letter-spacing: 0.42px;
}
.footer-contact-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
  letter-spacing: 0.42px;
}
