.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
}
.header-logo {
  margin-bottom: 32px;
  color: $popHovColor;
  font-family: Raleway;
  font-size: 26px;
  letter-spacing: 0.78px;
}
.studio {
  color: $popTwoColor;
}
.header-nav {
}

.nav-list {
  display: flex;
  gap: 50px;
  margin-left: -180px;
}

.nav-item {
}
.nav-link {
  color: $popTwoColor;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.nav-link:hover {
  color: $popHovColor;
}
.contact-list {
  display: flex;
  gap: 50px;
}
.contact-item {
  margin-bottom: 32px;
  display: flex;
  gap: 10px;
}
.rob {
  fill: $popNorCololr;
  width: 16px;
  height: 12px;
  margin-top: 3px;
}
.rob:hover {
  fill: $popHovColor;
}
.contact-link {
  color: $popNorCololr;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.28px;
}
.contact-link:hover {
  color: $popHovColor;
}
.line {
  background: $popularColor;
  height: 1px;
}
