.main {
}
.main-hero {
  margin-top: 94px;
  text-align: center;
}
.btn-list {
  justify-content: center;
  display: flex;
  gap: 8px;
}
.main-work {
  background-color: $popularColor;
  margin-top: 94px;
}
.main-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 24px;
  margin-bottom: 94px;
}
.main-item {
  width: 370px;
  height: 404px;
  margin: 0 auto;
  border: 1px solid $popularColor;
  background-color: $popularColor;
}
.main-item:hover .main-box-text {
  transform: translatey(0);
}
.main-item:hover {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

.main-work-title {
  color: $popTwoColor;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px; /* 200% */
  letter-spacing: 1.08px;
}

.main-list-box {
  position: relative;
  overflow: hidden;
}
.main-box-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $popHovColor;
  transform: translatey(102%);
  transition: transform 250ms ease-in-out;
  padding: 63px 24px;
  color: $popularColor;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.54px;
}
.main-list-box p {
  color: $popularColor;
  padding: 10px;
  margin: 0;
  font-size: 18px;
}
.main-list-box code {
  display: inline-block;
  padding: 2px 4px;
  border-radius: 2px;
  background-color: $popularColor;
  color: $popTwoColor;
}
.button {
  border-radius: 4px;
  background: $popularColor;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.48px;
  padding: 6px 25px;
}
.button:hover {
  background-color: $popHovColor;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}
// .btn-line {
//   margin-top: 28px;
//   height: 4px;
//   border-radius: 2%;
//   border: none;
//   background-color: $popularColor;
// }
// .btn-line:hover {
//   margin-top: 28px;
//   height: 4px;
//   border-radius: 2%;
//   border: none;
//   background-color: $popHovColor;
// }
